  <li {{bind-attr class=":schedule-list_item :list-group-item event.weekday"}}>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <div class="schedule-list__item-date">{{getTime event.start_time}}</div>
          <div class="schedule-list__item-date">{{getWeekday event.start_time}}</div>
          <div class="schedule-list__item-date">{{getMonth event.start_time}} {{getDayOfMonth event.start_time}}</div>
        </div>
        <div class="col-xs-4">
          <p>{{event.venue.Name}}</p>
          <h3>{{event.Name}}</h3>
        </div>
        <div class="col-xs-5">
          <strong>Performers</strong>
          <ul>
         {{#each performer in event.performers}}
            <li>{{#link-to "performer" performer }}{{performer.Name}}{{/link-to}}</li>
          {{/each}}  
          </ul>
        </div>
        <div class="col-xs-1">
          <p><span class="badge">{{event.Cost}}</span></p>
        </div>
      </div>
    </div>
    </li>

