  <li {{bind-attr data-start-time="event.start_time"}} {{bind-attr class=":schedule-list__item :list-group-item event.weekday"}}>
    <div class="container-fluid">
      <div class="row">
       <div class="col-sm-3">
          <p class="lead">{{{event.Name}}} </p>
        </div>
        <div class="col-xs-4 col-sm-3">
          <p><span class="schedule-list__item-venue-label label label-default">{{event.venue.Name}}</span></p>
        </div>
        <div class="col-xs-4 col-sm-3">
          <ul>
            
          {{#each performer in event.performers}}

              <li>{{#link-to "performer" performer }}{{{performer.Name}}}{{/link-to}}</li>

          {{/each}}  
          {{#each emcee in event.emcees}}
            <li>MC: {{#link-to "performer" emcee }}{{{emcee.Name}}}{{/link-to}}</li>
           {{/each}} 
          </ul>
          &nbsp;
        </div>
        <div class="col-xs-4 col-sm-3">
          <div class="schedule-list__item-date">
          <span style="white-space:nowrap">{{getTime event.start_time}} - </span>
          <span style="white-space:nowrap">{{getTime event.end_time}}</span></div>
        </div>
      </div>
    </div>
    </li>

