  <li {{bind-attr data-start-time="event.start_time"}} {{bind-attr class=":schedule-list__item :list-group-item event.weekday"}}>
    <div class="container-fluid">
      <div class="row">
       <div class="col-sm-4">
          <p class="lead">
            {{#if event.show}}
              {{#link-to "show" event.show }}{{{ event.show.Name }}}{{/link-to}}
            {{else}}
              {{#link-to "event" event }}{{{ event.Name }}}{{/link-to}}
            {{/if}}
            <br/>
            <small>(<span style="white-space:nowrap">{{getTime event.start_time}} - </span>
            <span style="white-space:nowrap">{{getTime event.end_time}}</span>)</small>
          </p>
          <p>Price: {{event.Cost}}</p>
        </div>
        <div class="col-xs-5 col-sm-4">
          <p>{{#link-to 'venue' event.venue.pageUrl}}
            <span class="schedule-list__item-venue-label label label-default">{{event.venue.Name}}</span>
            {{/link-to}}
          </p>
        </div>
        <div class="col-xs-7 col-sm-4">
          <ul class="schedule-list__performer-list">
            
          {{#each performer in event.sortedPerformers }}

              <li>
                {{#link-to "performer" performer }}
                <span class="label label-default schedule__label-performer">
                  {{{performer.Name}}}
                </span>
                {{/link-to}}
              </li>

          {{/each}}  
          {{#each emcee in event.emcees}}
              <li><strong>MC: </strong>
                {{#link-to "performer" emcee }}
                <span class="label label-default schedule__label-performer">
                  {{{emcee.Name}}}
                </span>
                {{/link-to}}
              </li>
           {{/each}} 
          </ul>
          &nbsp;
        </div>
      </div>
    </div>
    </li>

