<div class="schedule-list">
  <div class="text-left">
      <div class="container-fluid">
        <div class="row">
        <div class="col-xs-6 col-sm-3">
          <button type="button" style="margin: 0em 0em 0.5em;" class="btn btn-default btn-block" {{action "filterThursday"}}>Thursday</button>
        </div>
        <div class="col-xs-6 col-sm-3">
          <button type="button" style="margin: 0em 0em 0.5em;" class="btn btn-default  btn-block" {{action "filterFriday"}}>Friday</button>
        </div>
        <div class="col-xs-6 col-sm-3">
          <button type="button" style="margin: 0em 0em 0.5em;" class="btn btn-default  btn-block" {{action "filterSaturday"}}>Saturday</button>
        </div>
        <div class="col-xs-6 col-sm-3">
          <button type="button" style="margin: 0em 0em 0.5em;" class="btn btn-default  btn-block" {{action "filterSunday"}}>Sunday</button>
        </div>
      </div>
  </div>
  <ul class="list-group">
  {{#each event in controller.events}}
 {{partial "schedule_list_item"}}
  {{/each}}
  </ul>
