
  <div class="jumbotron jumbotron-tiny jumbotron-color-2 jumbotron-page-header">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
        <h2>{{ Name }}</h2>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->

<div class="container single-performer main-content">
  <div class="row">

    <div class="col-sm-4 text-center">
      <p><img class="img-responsive performer-headshot" {{bind-attr src="headshot300" }} /></p>
    </div>
    <div class="col-sm-8">
      <p>
        {{{ Bio }}}
      </p>
      <p><strong>Shows</strong></p>
      <ul>
        {{#each event in events}}
          <li><strong>{{event.Name}}</strong> - {{event.venue.Name}}
            <br /> ({{niceDate event.start_time}} {{getTime event.start_time}} - {{getTime event.end_time}})
          </li>
        {{else}}
          <li>No shows scheduled yet...</li>
        {{/each}}

      </ul>
      <p>
        {{#link-to "performers"}}← All Performers{{/link-to}}
      </p>
    </div>
  </div>
</div>







{{!-- <p>
  <b>Categories:</b> {{#each category in categories}}
      {{category.name}}
      {{/each}}
</p> --}}



