  <div class="jumbotron jumbotron-minor jumbotron-color-1  jumbotron-page-header">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
        <h1>Schedule</h1>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->

<div class="container main-content">
  <p>Performers, shows and prices subject to change.</p>
{{!--       <p><button type="button" class="btn btn-default" {{action "filterGrid"}}><i class="fa fa-th"></i> Show Grid View</button>
      <button type="button" class="btn btn-default" {{action "filterList"}}><i class="fa fa-list"></i> Show List View</button></p> --}}
  <div id="schedules" {{bind-attr class="scheduleClass"}}>
{{!--   {{partial "schedule_table"}} --}}
<p><a target="_blank" href="https://www.google.com/calendar/embed?src=ij2h1kcsksapda46r4e8qr2atc%40group.calendar.google.com&ctz=America/Los_Angeles"><img src="/assets/add-to-google-calendar.gif" /></a></p>
  {{partial "schedule_list"}}
  </div>
</div>





