  <div class="jumbotron jumbotron-minor jumbotron-color-1  jumbotron-page-header">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
        <h1>Schedule</h1>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->

<div class="container main-content">
  <div class="btn-group">
    <button type="button" class="btn btn-default" {{action "filterThursday"}}>Thursday</button>
    <button type="button" class="btn btn-default" {{action "filterThursday"}}>Friday</button>
    <button type="button" class="btn btn-default" {{action "filterThursday"}}>Saturday</button>
    <button type="button" class="btn btn-default" {{action "filterThursday"}}>Sunday</button>
  </div>
  
  {{partial "schedule_list"}}
</div>





